.blurred-item {
    transition: filter 0.2s ease-in-out;
    filter: blur(7px) grayscale(1) !important;
}

#main .blurred-item img{
    transition: filter 0.2s ease-in-out;
    filter: blur(18px) grayscale(1) !important;
}

#main .blurred-item video{
    transition: filter 0.2s ease-in-out;
    filter: blur(18px) grayscale(1) !important;
}

img.blurred-item {
    filter: blur(18px) grayscale(1) !important;
}

video.blurred-item {
    filter: blur(25px) grayscale(1) !important;
}